<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/html" />
        </staticContent>
 </system.webServer>
</configuration>